@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: auto;
  color: rgb(var(--foreground-rgb));
  /* background: rgb(121, 152, 201);
  background: linear-gradient(
    0deg,
    rgba(121, 152, 201, 1) 0%,
    rgba(30, 60, 104, 1) 100%
  ); */
  /* background: rgb(163 163 163 / 0.1); */
  margin: 0;
  padding: 0;
}
